/*Reset styles */
@import "reset.css";

/*General Layout*/
.flex-container{
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}
.flex-container > section{
    height: 700px;
    background-color: rgb(151, 151, 151);
    margin: 10px;
}
/*Header*/
header{
    background-color: #1F2937;
    padding: 5px 200px;
}
nav{
    display: flex;
}
nav > section {
    width: 100%;
}
.Links{
    text-align: right;
}
li{
    list-style: none;
    display: inline;
}
