/*Reset styles */
@import "reset.css";

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*General Layout*/
.flex-container{
    display: flex;
    flex-direction: column;
}
    .flex-container > section{
    height: 700px;
    background-color: rgb(151, 151, 151);
    }
/*Header*/
header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 200px;
    height: 600px;
}    
    /*Navigation*/
    nav{
     display: flex;
    }
        nav > section {
            width: 100%;
        }
        .Links{
            text-align: right;
        }
            li{
                list-style: none;
                display: inline-block;
                width: 100px;
            }
                a{
                    font-size: 18px;
                    color: #E5E7EB;
                    text-decoration: none;      
                }
        .Logo{
            font-size: 24px;
            color: #F9FAF8;
        }
    /*Header main text*/
    .main-text{
        display: flex;
        flex-direction: row;
        padding: 200px 0px;
    }
        .main-text > div{
            width: 100%;
        }
            .Head-text, .Sec-text, .btn{
            margin: 10px;
            }
            .Head-text{
                font-size:48px;
                color: #F9FAF8;
            }
            .Sec-text{
                font-size: 18px;
                color: #E5E7EB;
            }
            .btn{
                width: 130px;
                height: 30px;
                background-color: #3882F6;
                color:#F9FAF8;
                font-size: 15px;
                border: none;
                border-radius: 10px;
            }
            
